/Manifest.toml
test/hubbard_chain_test.jl
test/hubbard_square_test.jl
.vscode/settings.json
test/shell_test.jl
test/overlap_test.jl
test/doping_shell_test.jl
test/script_test.jl
test/read_write_test_1D.jl
examples/hubbard_square_jastrow.jl

test/simulation_test_no_jastrow.jl
test/simulation_test_jastrow.jl
test/simulation_test_1d_no_jastrow.jl
test/simulation_test_1d_jastrow.jl
test/plotting.jl
examples/hubbard_square_test.jl
examples/plotting.jl
examples/hubbard_square_test_no_jastrow.jl

examples/mpi_test.jl
examples/hubbard_rectangle_test.jl
examples/hubbard_triangular_test.jl
examples/hubbard_square_tabc_test.jl
