/Manifest.toml
.vscode/settings.json

src/Parameters/ElectronPhononParameters.jl
src/Parameters/HolsteinParameters.jl
src/Parameters/PhononParameters.jl
src/Parameters/SSHParameters.jl
src/Models/ElectronPhononModel.jl
src/MannKendall.jl
src/ConvergenceTest.jl
examples/testing_scripts/electron-phonon_test.jl
examples/testing_scripts/hubbard_bilayer_test.jl
examples/testing_scripts/hubbard_square_with_convergence_test.jl
examples/testing_scripts/hubbard_chain_test_2.jl
examples/testing_scripts/version2.0_test.jl
